.info-details {
    border-left: 2px solid rgba(255,255,255,.15);
    padding: 12px 0 12px 22px;
}
.info-icon {
    padding-right: 1em;
}
.wrapper {
    background-color: #0b0b0b;
}
input, textarea {
    background-color: #161616 !important;
    border: none !important;
    border-bottom: 1px solid #1d1d1d !important;
    border-radius: 0 !important;
    font-size: 15px !important;
    height: 3.2em !important;
    padding: 9px 14px !important;
    color: #9f9f9f !important;
}
textarea {
    height: 17.3em !important;
}
button#contact-submit {
    width: 100%;
    margin-top: 1em;
}
#contact-submit:hover {
    color: white;
}
.msg-sent {
    color: #009e66;
    font-size: 1.3em;
}
.msg-error {
    color: red;
    font-size: 1.3em;
}
.lightbox-wrapper-contact {
    background-image: url("../../../assets/img/home.jpg") !important;
}
.contact-container {
    height: 100vh;
    overflow-y: scroll;
}
