.lightbox-wrapper {
     background-color: #101010;
     position: relative;
 }
.content-desc {
    font-size: 1.3em !important;
}
p.section-description {
    font-size: 1.3em !important;
}
.content-title {
    font-size: 1.6em !important;
}
.content-download:hover {
    color: white;
}
#about {
    background-image: url("../../../assets/img/home.jpg") !important;
}
p.content-desc.common-color {
    padding: 1em;
}
.about-container {
    overflow-y: scroll;
    height: 100vh;
}
