body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/img/home.jpg") !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.common-color {
  color: #9f9f9f;
}
.text-white {
  color: white;
}
.lightbox-wrapper {
  /*height: 100vh !important;*/
}
.common-background {
  background-color: #161616 !important;
}
.home-container {
  height: 100vh;
  overflow-y: scroll;
}
.home-name {
  margin-top: 2em !important;
}

